.spinner {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.Pokecard {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.card-img-top {
  max-height: 12rem;
  max-width: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  overflow: hidden;
  /* background-image: linear-gradient(to bottom right, #76b9e9, rgb(255, 117, 117)); */
  background: #F6F6F6;
}

.card {
  margin: 2rem;
  padding: 1rem;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

.list-group-item {
  font-size: 12px;
  padding: 10px;
}